<label for="length">Longueur du mot de passe : {{ settings.length }}</label>
<input
  type="range"
  [(ngModel)]="settings.length"
  (input)="onSettingsChange()"
  min="8"
  max="50"
  name="length"
  id="length"
/>
<label>
  <input
    [(ngModel)]="settings.uppercases"
    (change)="onSettingsChange()"
    role="switch"
    type="checkbox"
    name="uppercases"
    id="uppercases"
  />
  Contiendra des majuscules
</label>
<label>
  <input
    [(ngModel)]="settings.numbers"
    (change)="onSettingsChange()"
    role="switch"
    type="checkbox"
    name="numbers"
    id="numbers"
  />
  Contiendra des nombres
</label>
<label>
  <input
    [(ngModel)]="settings.symbols"
    (change)="onSettingsChange()"
    role="switch"
    type="checkbox"
    name="symbols"
    id="symbols"
  />
  Contiendra des caractères spéciaux
</label>
